.module-directpage {
    height: calc(100vh - 67px - 39px);
    width: 100vw;
    margin: 0 auto;
    display: flex;
    background-color: white;
    z-index: 1;
    position: relative;
    .left-side {
        width: 300px;
        border-right: 1px solid #e4e4e4;
        position: relative;
        z-index: 2;
        .side-header {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            display: flex;
            align-items: stretch;
            padding: 5px;
            height: 50px;
            width: 100%;
            box-sizing: border-box;
            .choose {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.1s ease-in-out;
                border-radius: 8px;
                svg {
                    margin-right: 10px;
                }
                p {}
                &:hover {
                    background-color: rgba($color: #000000, $alpha: 0.05);
                }
            }
            .friends {
                margin-right: 5px;
                &.active {
                    background-color: rgba($color: #000000, $alpha: 0.05);
                    svg {
                        fill: #26b926;
                        stroke: #26b926;
                    }
                }
            }
            .unknown {
                &.active {
                    background-color: rgba($color: #000000, $alpha: 0.05);
                    svg {
                        fill: #e75252;
                        stroke: #e75252;
                    }
                }
            }
        }
        .wrap-list-friend {
            position: absolute;
            width: 100%;
            top: 45px;
            height: calc(100% - 60px);
            overflow-x: auto;
            padding: 5px;
            box-sizing: border-box;
            .friend {
                padding: 5px 15px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: stretch;
                width: 100%;
                transition: 0.1s ease-in-out;
                box-sizing: border-box;
                border-radius: 8px;
                margin-bottom: 5px;
                &.false {
                    font-weight: bold;
                }
                &:hover {
                    background-color: #e4e4e4;
                }
                &.active {
                    background-color: #e4e4e4;
                }
                .friend-left {
                    margin-right: 15px;
                    .avatar {
                        display: flex;
                        img {
                            height: 45px;
                            width: 45px;
                            border-radius: 50%;
                            border: 1px solid rgba($color: #000000, $alpha: 0.05);
                        }
                    }
                }
                .friend-right {
                    text-align: left;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.2em;
                    box-sizing: border-box;
                    word-break: break-all;
                }
            }
        }
    }
    .right-side {
        flex: 1;
        display: flex;
        flex-direction: column;
        z-index: 1;
        background-color: white;
        &.show {
            z-index: 2;
        }
        .side-header {
            height: 50px;
            padding: 0 15px;
            font-weight: bolder;
            border-bottom: 1px solid #e4e4e4;
            display: flex;
            align-items: center;
            .back {
                display: none;
            }
            .avatar {
                display: flex;
                img {
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    border: 1px solid rgba($color: #000000, $alpha: 0.05)
                }
            }
            p {
                margin-left: 10px;
            }
        }
        .side-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            position: relative;
            .messages {
                position: absolute;
                padding: 15px 15px 50px 15px;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                overflow-x: auto;
                box-sizing: border-box;
                .older-messages {
                    text-align: center;
                    font-weight: bold;
                    color: #1a73e8;
                    margin: 0 auto;
                    display: block;
                }
                .wrap-message {
                    display: flex;
                    align-items: center;
                    margin-top: 5px;
                    .message {
                        border: 1px solid #f0f2f5;
                        padding: 7px 12px;
                        border-radius: 20px;
                        max-width: 300px;
                        word-break: break-word;
                        background-color: #f0f2f5;
                        font-size: 14px;
                    }
                    .time {
                        margin-left: 15px;
                        font-size: 0.8em;
                        color: gray;
                        font-style: italic;
                    }
                    &.your-message {
                        flex-direction: row-reverse;
                        .message {
                            background-color: #0084ff;
                            border: 1px solid #0084ff;
                            color: white;
                        }
                        .time {
                            margin-left: 0;
                            margin-right: 15px;
                        }
                    }
                }
            }
            .typing {
                position: absolute;
                display: flex;
                height: 50px;
                width: 100%;
                bottom: 0;
                box-sizing: border-box;
                padding: 5px 15px 5px 15px;
                backdrop-filter: blur(18px);
                background-color: rgba(white, 0.7);
                form {
                    width: 100%;
                    display: flex;
                    input {
                        flex: 1;
                        padding: 0 15px;
                        background-color: rgba(black, 0.05);
                        border-radius: 20px;
                    }
                    button {
                        width: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        svg {
                            stroke: #1a73e8;
                            stroke-width: 2;
                            fill: #1a73e8;
                        }
                    }
                }
            }
        }
    }
    .none-direct {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        svg {
            stroke: #4e4e4e;
        }
        p {
            font-size: 1.5em;
            font-weight: bold;
            color: #4e4e4e;
        }
    }
}

@media only screen and (max-width: 650px) {
    .module-directpage {
        height: calc(100vh - 39px);
        .left-side {
            width: 100%;
            z-index: 1;
            .side-header {
                .choose {
                    svg {
                    }
                    p {}
                    &:hover {
                    }
                }
                .friends {
                }
            }
            .wrap-list-friend {
            }
            .friend {
                &:hover {
                }
                .friend-left {
                    .avatar {
                        img {
                        }
                    }
                }
                .friend-right {
                    .current {
                    }
                }
            }
        }
        .right-side {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            .side-header {
                justify-content: center;
                .back {
                    display: block;
                    order: 1;
                }
                .avatar {
                    order: 3;
                    img {
                    }
                }
                p {
                    order: 2;
                    margin: 0 10px;
                }
            }
            .side-content {
                .messages {
                    .wrap-message {
                        .message {
                        }
                        .time {
                        }
                        &.your-message {
                            .message {
                            }
                            .time {
                            }
                        }
                    }
                }
                .typing {
                    form {
                        input {
                        }
                        button {
                            svg {
                            }
                        }
                    }
                }
            }
        }
        .none-direct {
            display: none;
        }
    }
}
