.module-homepage {
    .module-header {
        width: 300px;
        background-color: white;
        margin: 20px auto;
        display: flex;
        border-radius: 8px;
        border: 1px solid #e4e4e4;
        button {
            padding: 15px;
            flex: 1;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: 0.1s ease-in-out;;
            svg {
                margin-right: 5px;
                stroke-width: 1.5;
            }
            p {
                font-size: 1.1em;
            }
            &:hover {
                background-color: #e4e4e4;
            }
        }
        .favorite {
            border-right: 1px solid #e4e4e4;
            &.active {
                background-color: #e4e4e4;
                svg {
                    fill: red;
                    stroke: red;
                }
            }
        }
        .facebook {
            &.active {
                background-color: #e4e4e4;
                svg {
                    fill:#1a73e8;
                    stroke:#1a73e8;
                }
            }
        }
    }
    .module-content {
        padding: 0 15px;
        margin-bottom: 50px;
        .favorites, .facebook {
            border: 1px solid #e4e4e4;
            max-width: 500px;
            margin: 0 auto;
            background-color: white;
            border-radius: 8px;
            .favorites-header {
                input {
                    border-radius: 4px;
                    padding: 15px;
                    width: 100%;
                    margin: 0 auto;
                    display: block;
                    box-sizing: border-box;
                }
            }
            .facebook-footer {
                text-align: center;
                padding: 10px;
                button {
                    color: #1a73e8;
                    font-weight: bold;
                }
            }
            .friend {
                display: flex;
                align-items: center;
                padding: 10px 15px;
                transition: 0.1s ease-in-out;
                .friend-avatar {
                    .avatar {
                        display: flex;
                        img {
                            border-radius: 8px;
                            border: 1px solid #e4e4e4;
                        }
                    }
                }
                .friend-name {
                    margin-left: 15px;
                    flex: 1;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    p {
                        font-size: 14px;
                        font-weight: bold;
                    }
                    .group-button {
                        display: flex;
                        flex-direction: row-reverse;
                        button {
                            display: flex;
                            align-items: center;
                            margin-left: 10px;
                            border: 1px solid #e4e4e4;
                            border-radius: 4px;
                            padding: 5px 10px;
                            transition: 0.1s ease-in-out;
                            svg {
                                margin-right: 5px;
                                transition: 0.1s ease-in-out;
                                stroke-width: 1.5;
                            }
                            p {
                                font-weight: lighter;
                                font-size: 12px;
                                transition: 0.1s ease-in-out;
                            }
                        }
                        .message {
                            &:hover {
                                background-color: #1a73e8;
                                border: 1px solid #1a73e8;
                                box-shadow: 0 0 5px 0 #1a73e8;
                                svg {
                                    stroke: white;
                                }
                                p {
                                    color: white;
                                }
                            }
                        }
                        .favorite {
                            &:hover {
                                background-color: #a695c7;
                                border: 1px solid #a695c7;
                                box-shadow: 0 0 5px 0 #a695c7;
                                svg {
                                    stroke: white;
                                }
                                p {
                                    color: white;
                                }
                            }
                        }
                        .unfavorite {
                            &:hover {
                                background-color: #e75252;
                                border: 1px solid #e75252;
                                box-shadow: 0 0 5px 0 #e75252;
                                svg {
                                    stroke: white;
                                }
                                p {
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 539px) {
.module-homepage {
    .module-header {
        width: calc(100% - 37px);
        button {
            padding: 10px;
            svg {
            }
            p {
            }
        }
        .favorite {
            &.active {
                svg {
                }
            }
        }
        .facebook {
            &.active {
                svg {
                }
            }
        }
    }
    .module-content {
        .favorites, .facebook {
            .favorites-header {
                input {
                }
            }
            .friend {
                .friend-avatar {
                    .avatar {
                        img {
                        }
                    }
                }
                .friend-name {
                    p {
                    }
                    .group-button {
                        button {
                            svg {
                                margin: 0;
                            }
                            p {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
}